.content {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	color: $very-dark-blue;
	overflow: hidden;

	.content__container {
		display: flex;
		flex-direction: column;
		margin-bottom: 20rem;
		align-items: center;

		.content__box {
			display: flex;
			flex-direction: row;
			max-width: $vp-desktop;
			h2 {
				margin: 0 auto;
			}

			.content__text,
			.content__image {
				padding: 3rem;
				line-height: 2;
				flex-basis: 50%;
			}

		}

		&.future__content {
			.content__image {
				position: relative;

				img {
					top: -75px;
					position: absolute;
				}
			}
		}

		&.infrastructure__content {
			height: 22rem;
			color: $white;
			border-radius: 0 100px 0 100px;
			background-image: url(../images/bg-pattern-circles.svg),
							  linear-gradient(to right, $very-dark-black-blue, $very-dark-desaturated-blue-gradient);
			background-repeat: no-repeat;

			h2 {
				text-align: start;
			}

			.content__box {
				flex-direction: row-reverse;

				.content__text {
					padding: 6rem;
				}

				.content__image {
					position: relative;

					img {
						position: absolute;
						top: -100px;
					}
				}
			}

		}

		&.mobile__content {

			.content__box {
				flex-direction: row-reverse;
			}

			.content__image {
				position: relative;

				img {
					position: absolute;
					top: -100px;
					left: -250px;
				}
			}
		}

	}
}