/** Viewports */
$vp-mobile: 375px;
$vp-desktop: 1440px;

/* Colors */

/* Primary */
$light-blue: hsl(228, 45%, 44%);
$light-red: hsl(356, 100%, 66%);
$very-dark-blue: hsl(208, 49%, 24%);
$very-light-red: hsl(355, 100%, 74%);

/* Neutral */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-black-blue: hsl(240, 10%, 16%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);

/* Gradient */
$light-red-gradient: hsl(353, 100%, 62%);
$very-light-red-gradient: hsl(13, 100%, 72%);
$very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
$very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);

/* Fonts */

/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
$font-family-body: "Ubuntu", sans-serif;
$font-family-headings: "Overpass", sans-serif;

/* Sizes */
$font-size: 16px;

/* Font-weights */
$font-weight-light: 300;
$font-weight-light-normal: 400;
$font-weight-normal: 500;
$font-weight-bold-normal: 600;
$font-weight-bold: 700;
